<div class="container">
    <button id="return" routerLink="/library"><span><mat-icon>chevron_left</mat-icon></span></button>
    <section id="title_section">
        <h3>{{current_set.name}}</h3>
        <h5>Current set</h5>
    </section>
    <section id="content_section">
        <div id="front" class="card" *ngIf="!isCompleted">
            <p>{{current_set.questions[current_question][0]}}</p>
        </div>
        <div id="back" class="card" *ngIf="!isCompleted" (click)="reveal()">
            <p *ngIf="!isRevealed" class="tapToReveal">Tap to reveal</p>
            <p *ngIf="isRevealed">{{current_set.questions[current_question][1]}}</p>
        </div>
        <div *ngIf="isCompleted" id="completedContainer">
            <div id="completedContent">
                <h2>Completed</h2>
                <p>You've answered all questions correctly</p>
                <button routerLink="/library">Go back</button>
            </div>
        </div>  
    </section>
    <button id="wrong" (click)="questionFailed()" *ngIf="!isCompleted"><mat-icon>close</mat-icon></button>
    <button id="right" (click)="questionPassed()" *ngIf="!isCompleted"><mat-icon>done</mat-icon></button>
</div>