.container
    height: 100%
    width: 100%
    display: grid
    grid-auto-flow: row
    grid-template-rows: 10vh 1fr
    #return
        position: absolute
        top: 2vh
        left: 30px
        background-color: rgba(0, 0, 0, 0)
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
        height: 6vh
        width: 6vh
        display: flex
        align-items: center
        mat-icon
        font-size: 3em

        animation: 0.8s cubic-bezier(0,1.05,.61,1) fadeIn
    #title_section
        text-align: center
        margin: 0
        align-self: center

        animation: 0.8s cubic-bezier(0,1.05,.61,1) fadeIn
        h3
            margin: 0
            font-size: 1.4em
        h5
            margin: 0
            font-weight: 400
            color: #858585
    #content_section
        display: flex
        flex-direction: column
        align-items: center
        height: 80vh

        animation: 1.2s cubic-bezier(0,1.05,.61,1) fadeIn
        .card
            width: 35vh
            height: 35vh
            border-radius: 6px
            margin: 3px
            display: flex
            justify-content: center
            align-items: center
            p
                font-size: 1.4em
        .card#front
            border: 1px solid #D3D6D9
        .card#back
            background-color: #D3D6D9
    #wrong
        position: absolute
        height: 60px
        width: 60px
        bottom: 30px
        left: 30px
        color: #DD3434

        animation: 0.8s cubic-bezier(0,1.05,.61,1) fadeIn
    #right
        position: absolute
        height: 60px
        width: 60px
        bottom: 30px
        right: 30px
        color: #3AD603

        animation: 0.8s cubic-bezier(0,1.05,.61,1) fadeIn

@media only screen and (min-width: 768px)
    .container
        #content_section
            flex-direction: row
            justify-content: center
            align-items: center
            .card
                height: 70vh
                width: 70vh
